<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        
        <div class="container">
    
            <div class="profile">
                <div class="profile-image">
                    <img src=<%= userData.profilePic %> width="152" heigth="152" alt="">
                </div>
    
                <div class="profile-user-settings">
                    <h1 class="profile-user-name"><%= userData.username %></h1>
                   
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                </div>
    
                <div class="profile-stats">
    
                    <ul>
                        <li><span class="profile-stat-count"><%= userData.postCount %></span> posts</li>
                        <li><span class="profile-stat-count"><%=  userData.followers %></span> followers</li>
                        <li><span class="profile-stat-count"><%= userData.following %></span> following</li>
                    </ul>
    
                </div>
    
                <div class="profile-bio">
    
                    <p><span class="profile-real-name"><%= userData.username %></span> <%= userData.desc %> 📷✈️🏕️</p>
    
                </div>
    
            </div>
            <!-- End of profile section -->
    
        </div>
        <!-- End of container -->
    
    </header>
    
    <main>
    
        <div class="container">
            <div class="gallery">
                <% userPosts && userPosts.map(e => { %>
                    <div class="gallery-item" tabindex="0">
                        <img width="450" height="450" src=<%= e.postImg %> class="gallery-image" alt="">
                        <div class="gallery-item-info">
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i><%= e.postLike %></li>
                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i><%= e.postComment %></li>
                            </ul>
                        </div>
                    </div>
                <% }) %>
            </div>
            <!-- End of gallery -->
        </div>
        <!-- End of container -->
    
    </main>
</body>
</html>